@media (min-width:1024px){
  .cover{
height: auto;
    min-height: 100vh;
  }
    .tanggal-acara {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
  font-family: 'Playfair Display', serif;
}

.hari, .bulan {
  flex: 1;
  font-size: 20px;
  color: #2f3e46;
  text-shadow: 1px 1px 1px white;
}

.tanggal-tengah {
  text-align: center;
  position: relative;
  padding: 0 20px;
}

/* Garis kiri kanan */
.tanggal-tengah::before,
.tanggal-tengah::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 2px;
  height: 50px;
  background: #2f3e46;
  transform: translateY(-50%);
}

.tanggal-tengah::before {
  left: 0;
}

.tanggal-tengah::after {
  right: 0;
}

/* Angka besar */
.angka {
  display: block;
  font-size: 96px;
  font-weight: bold;
  color: #2f3e46;
      text-shadow: 1px 1px 1px white;
}

/* Tahun kecil */
.tahun {
  font-size: 20px;
  color: #555;
        text-shadow: 1px 1px 1px white;
        
}

/* Jam */
.jam {
  text-align: center;
  font-size: 16px;
  color: #2f3e46;
}
  .overlay h1{
    font-size: 5rem;
  }
  .overlay h4 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
text-shadow:2px 2px 2px #000;
}
.overlay p {
  color: #fff;
  text-shadow:2px 2px 2px #000;
  font-size: 2.2rem;
}
.nama-tamu {
  margin-top: 1rem;
  font-size: 1.1rem;
  font-weight: bold;
  line-height: 1.5;
}
.nama-highlight {
  font-size: 1.5rem;
  color: #555;
          text-shadow: 1px 1px 1px white;
}
.button-cover {
  padding; 10px;
  font-size: 1.1rem;
}
.info .card {
  background-color: rgba(255, 255, 255, 0.2)!important;
  color: white !important;
  border: 1px solid #999;
}
.info .card-header {
  border-bottom: 1px solid #999;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 1rem;
}
.info .card-body {
  font-size: 1rem;
}
.info .card-footer {
  border-top: 1px solid #999;
  font-size: 0.8rem;
  font-weight: 300;
}
.bunga2 {
  position: absolute;
  right: -37px;
  top: 300px;
  z-index: 2;
}
}
@media (min-width:576px){
  .tanggal-acara {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
  font-family: 'Playfair Display', serif;
}

.hari, .bulan {
  flex: 1;
  font-size: 40px;
  color: #2f3e46;
  text-shadow: 1px 1px 1px white;
}

.tanggal-tengah {
  text-align: center;
  position: relative;
  padding: 0 20px;
}

/* Garis kiri kanan */
.tanggal-tengah::before,
.tanggal-tengah::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 2px;
  height: 100px;
  background: #2f3e46;
  transform: translateY(-50%);
}

.tanggal-tengah::before {
  left: 0;
}

.tanggal-tengah::after {
  right: 0;
}

/* Angka besar */
.angka {
  display: block;
  font-size: 96px;
  font-weight: bold;
  color: #2f3e46;
      text-shadow: 1px 1px 1px white;
}

/* Tahun kecil */
.tahun {
  font-size: 40px;
  color: #555;
        text-shadow: 1px 1px 1px white;
        
}

/* Jam */
.jam {
  text-align: center;
  font-size: 32px;
  color: #2f3e46;
}
  .overlay h1{
    font-size: 5rem;
  }
  .overlay h4 {
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
text-shadow:2px 2px 2px #000;
}
.overlay p {
  color: #fff;
  text-shadow:2px 2px 2px #000;
  font-size: 2.2rem;
}
.nama-tamu {
  margin-top: 1rem;
  font-size: 2.2rem;
  font-weight: bold;
  line-height: 1.5;
}
.nama-highlight {
  font-size: 3rem;
  color: #555;
          text-shadow: 1px 1px 1px white;
}
.button-cover {
  padding; 10px;
  font-size: 2.2rem;
}
.info .card {
  background-color: rgba(255, 255, 255, 0.2)!important;
  color: white !important;
  border: 1px solid #999;
}
.info .card-header {
  border-bottom: 1px solid #999;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 1rem;
}
.info .card-body {
  font-size: 1rem;
}
.info .card-footer {
  border-top: 1px solid #999;
  font-size: 0.8rem;
  font-weight: 300;
}
.bunga2 {
  position: absolute;
  right: -37px;
  top: 300px;
  z-index: 2;
}
}
